html {
    /*font-family: 'PT Sans', sans-serif;
    background-color: #ffffff;*/
    font-family: 'Open Sans', sans-serif;
    background-color: Black; 
    color: Black;
    /* Perfect Full Page Background Image
     * css-tricks https://css-tricks.com/perfect-full-page-background-image/
     */
    background: url(../google_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    color: CornflowerBlue;
}

code {
    font-family: 'Inconsolata', monospace;
}

pre { 
    white-space: pre; overflow: auto; 
}

a.site-title {
    text-decoration: none;
}

.site-title {
    color: SlateGray;
    font-family: 'Josefin Slab', serif;
}

a.navigation-item {
    text-decoration: none;
}

.navigation-item {
    color: LightSkyBlue;
    border-bottom: 2px solid #f0c808;
}

h2 {
    font-family: 'Josefin Slab', serif;
}

.highlight {
    background-color: Black !important; /* important for no overwrite */
}

/* hr, delimeted line between categories */
.line{
  border: 0;
  background-color: LightSlateGray;
  height: 3px;
}
