html {
    /*font-family: 'PT Sans', sans-serif;
    background-color: #ffffff;*/
    font-family: 'Encode Sans Expanded', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    background-color: white; 
    color: black;
    /* Perfect Full Page Background Image
     * css-tricks https://css-tricks.com/perfect-full-page-background-image/
    background: url(../advertisement-1846965_960_720.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
}

a {
    color: grey;
    text-decoration: none;
}

pre { 
    white-space: pre; overflow: auto; 
}

.site-title {
    color: black;
    font-family: 'Encode Sans Expanded', sans-serif;
}

a {
    text-decoration: none; /* default: underline */
}

.navigation-item {
    color: black;
    border-bottom: 2px solid orange;
}


.highlight {
    background-color: black !important; /* important for no overwrite */
}

/* hr, delimeted line between categories */
.line{
  border: 0;
  background-color: grey;
  height: 1px;
}
