html {
    /*font-family: 'PT Sans', sans-serif;
    background-color: #ffffff;*/
    font-family: 'Open Sans', sans-serif;
    background-color: Black; 
    color: White;
    /* Perfect Full Page Background Image
     * css-tricks https://css-tricks.com/perfect-full-page-background-image/
     */
    background: url(../bg_light.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    color: #3cba54;
}

code {
    font-family: 'Inconsolata', monospace;
}

pre { 
    white-space: pre; overflow: auto; 
}

a.site-title {
    text-decoration: none;
}

.site-title {
    color: #db3236;
    font-family: 'Josefin Slab', serif;
}

a.navigation-item {
    text-decoration: none;
}

.navigation-item {
    color: #4885ed;
    border-bottom: 2px solid #f4c20d;
}

/* categories */
i {
    color: #4885ed;
}

/* post tile */
h2 {
    color: #3cba54;
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    color: #4885ed;
}

.highlight {
    background-color: Black !important; /* important for no overwrite */
}

/* hr, delimeted line between categories */
.line{
  border: 0;
  background-color: #f4c20d;
  height: 3px;
}
