---
layout: default
---

<ul class="list-reset">
    {% for post in site.posts %}
    <li>
        <div class="clearfix">
            <div class="col col-2 left-align pr1">
                <span>{{ post.date | date: '%d %b, %Y' }}</span>
            </div>
            <div class="col col-2 left-align pr1">
                <b>【{{ post.categories }}】</b>
            </div>
            <div class="col col-8 right-align pl1">
                <a href="{{ post.url | relative_url }}">
                    {{ post.title }}
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
